* {
	background: url(http://subtlepatterns.com/patterns/footer_lodyas.png);
	font: 1em  "PT Sans", sans-serif; 
	text-transform: uppercase; 
	color: white;
	-webkit-transiton: all .5s;
	-moz-transiton: all .5s;
	-o-transiton: all .5s;
	transiton: all .5s;

}

.wrapper {
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-o-perspective: 400px;
	perspective: 400px;
		
	width: 400px;
	height: 400px;
	margin: 100px auto;

}

.pluso {
	margin: 50px auto;
	display: block;
}

.container {
	display: block;
	width: 400px;
	height: 400px;
	margin: 100px auto;
	background: url(https://pp.vk.me/c625330/v625330622/88e6/RMFYgON2fCs.jpg) no-repeat;
	box-shadow: 0 0 5px white;
	overflow: hidden;
	cursor: pointer;
	border-radius: 5px;
	-webkit-animation: spin 30s ease-in-out infinite;
	-moz-animation: spin 30s ease-in-out infinite;
	-o-animation: spin 30s ease-in-out infinite;
	animation: spin 30s ease-in-out infinite;

}

@-webkit-keyframes spin {
	0% 100% {
		-webkit-transform: rotate3d(1,1,1,0deg);
	}
	10% {
		-webkit-transform: rotate3d(0,1,1,30deg);
	}
	20% {
		-webkit-transform: rotate3d(1,0,1,30deg);
	}
	30% {
		-webkit-transform: rotate3d(1,1,0,30deg);
	}
	40% {
		-webkit-transform: rotate3d(0,1,0,30deg);
	}
	50% {
		-webkit-transform: rotate3d(0,1,1,-30deg);
	}
	60% {
		-webkit-transform: rotate3d(1,0,1,-30deg);
	}
	70% {
		-webkit-transform: rotate3d(1,1,0,-30deg);
	}
	80% {
		-webkit-transform: rotate3d(0,1,0,-30deg);
	}
}

@-moz-keyframes spin {
	0% 100% {
		-moz-transform: rotate3d(1,1,1,0deg);
	}
	10% {
		-moz-transform: rotate3d(0,1,1,30deg);
	}
	20% {
		-moz-transform: rotate3d(1,0,1,30deg);
	}
	30% {
		-moz-transform: rotate3d(1,1,0,30deg);
	}
	40% {
		-moz-transform: rotate3d(0,1,0,30deg);
	}
	50% {
		-moz-transform: rotate3d(0,1,1,-30deg);
	}
	60% {
		-moz-transform: rotate3d(1,0,1,-30deg);
	}
	70% {
		-moz-transform: rotate3d(1,1,0,-30deg);
	}
	80% {
		-moz-transform: rotate3d(0,1,0,-30deg);
	}
}


@-o-keyframes spin {
	0% 100% {
		-o-transform: rotate3d(1,1,1,0deg);
	}
	10% {
		-o-transform: rotate3d(0,1,1,30deg);
	}
	20% {
		-o-transform: rotate3d(1,0,1,30deg);
	}
	30% {
		-o-transform: rotate3d(1,1,0,30deg);
	}
	40% {
		-o-transform: rotate3d(0,1,0,30deg);
	}
	50% {
		-o-transform: rotate3d(0,1,1,-30deg);
	}
	60% {
		-o-transform: rotate3d(1,0,1,-30deg);
	}
	70% {
		-o-transform: rotate3d(1,1,0,-30deg);
	}
	80% {
		-o-transform: rotate3d(0,1,0,-30deg);
	}
}

@keyframes spin {
	0% 100% {
		transform: rotate3d(1,1,1,0deg);
	}
	10% {
		transform: rotate3d(0,1,1,30deg);
	}
	20% {
		transform: rotate3d(1,0,1,30deg);
	}
	30% {
		transform: rotate3d(1,1,0,30deg);
	}
	40% {
		transform: rotate3d(0,1,0,30deg);
	}
	50% {
		transform: rotate3d(0,1,1,-30deg);
	}
	60% {
		transform: rotate3d(1,0,1,-30deg);
	}
	70% {
		transform: rotate3d(1,1,0,-30deg);
	}
	80% {
		transform: rotate3d(0,1,0,-30deg);
	}
}

h1 {
	display: block;
	margin: 40px auto;
	width: 500px;
	height: 100px;
	text-align: center;
	line-height: 50px;
	font-size: 4em;
}

h3 {
	display: block;
	margin: 40px auto;
	width: 700px;
	height: 100px;
	text-align: center;
	line-height: 50px;
	font-size: 2em;
}

